{# Jinja2 template for generating Tölvera state initialization code #}
{% if states %}
    # Creating dynamic states
    {% if states.global_states %}
    # Global states: {{ states.global_states.keys() | list }}
    tv.s.llm_global = {
        "state": {
            {% for name, info in states.global_states.items() %}
            "{{ name }}": ({{ info.type }}, {{ info.min }}, {{ info.max }}),
            {% endfor %}
        },
        "shape": 1,
        "osc": ("get", "set"),
        "randomise": False
    }
    {% endif %}

    {% if states.particle_states %}
    # Particle states: {{ states.particle_states.keys() | list }}
    tv.s.llm_particle = {
        "state": {
            {% for name, info in states.particle_states.items() %}
            "{{ name }}": ({{ info.type }}, {{ info.min }}, {{ info.max }}),
            {% endfor %}
        },
        "shape": tv.pn,
        "osc": ("get"),
        "randomise": True
    }
    {% endif %}

    {% if states.species_states %}
    # Species states: {{ states.species_states.keys() | list }}
    tv.s.llm_species = {
        "state": {
            {% for name, info in states.species_states.items() %}
            "{{ name }}": ({{ info.type }}, {{ info.min }}, {{ info.max }}),
            {% endfor %}
        },
        "shape": tv.sn,
        "osc": ("get", "set"),
        "randomise": True
    }
    {% endif %}
{% endif %}