@ti.kernel
def decay_pheromones():
    """Decay/evaporate pheromone trails."""
    evaporation_rate = 0.99  # Could be from global state
    
    for x in range(tv.x):
        for y in range(tv.y):
            tv.px.px.rgba[x, y][0] *= evaporation_rate
            tv.px.px.rgba[x, y][1] *= evaporation_rate
            tv.px.px.rgba[x, y][2] *= evaporation_rate